body{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4{
    color: black;
    font-family: 'Nunito', sans-serif;
}
p,a{
    color: black;
    font-family: 'Nunito', sans-serif;
}
a{
    text-decoration: none;
    font-size: 18px;
}