html {
  font-size: 50.5%;
  font-family: 'Nunito', sans-serif;
  background-color: #EAEAEA;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header-text{
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.search-box{
  width: 40%;
}
.logo{
  padding-left: 50px;
}
.logo img{
  width: 90px;
  height: 60px;
  margin-top: 20px;
}
/*----------------------- SEARCH-BOX-------------------------*/
:root {
  --primary: #EAEAEA;
  --secondary: #6CA2C5;
}
.dropdown {
  width: 100%;
  max-width: 53.5rem;
  margin: 2rem auto;
  position: relative;
  color: black;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 40px;
}
.dropdown__select {
  border-radius: inherit;
}
.dropdown__list {
  margin-top: 1.5rem;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
  
}
.dropdown__item a{
    text-decoration: none;
    color: black;
}
.dropdown__list:before {
  content: "";
  height: 2.5rem;
  position: absolute;
  left: 0;
  right: 0;
  background-color: transparent;
  transform: translateY(-100%);
  
}
.dropdown:hover .dropdown__list {
  display: block;
}
.dropdown__select,
.dropdown__item {
  width: 100%;
  padding: 1.5rem;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.dropdown__item {
  transition: background-color 0.2s linear;
}
.dropdown__item:first-child {
  border-radius: 4px 4px 0 0;
  position: relative;
}
.dropdown__item:first-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: 3rem;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--primary);
  transform: translateY(-100%);
  transition: border-color 0.2s linear;
}
.dropdown__item:first-child:hover:before {
  border-bottom-color: var(--secondary);
}
.dropdown__item:last-child {
  border-radius: 0 0 4px 4px;
}
.dropdown__item:hover {
  background-color: var(--secondary);
}

/*----------------------- CARDS-------------------------*/
.cards{
  width: 70%;
  margin: auto;
  margin-top: 100px;
}
.card{
  height: 300px;
  width: 950px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.6s ease;

}
.left-card{
  width: 40%;
  
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  
}

.card-photo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #777575;
  margin-top: 20px;

}
.card-text{
  height: 70%;
  padding-top: 40px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.card-text .nom{
  font-size: 30px;
}
.card-text .matiere h1{
  margin-bottom: 10px;
  color: #777575;
  font-size: 15px;

}
.card-text .matiere p{
  margin-bottom: 5px;
  font-size: 11px;
}
.right-card{
  width: 40%;
  display: flex;
  flex-direction: column;
  height: 70%;
  align-items: center;
  margin: auto;
}
.right-card h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
.right-card p{
  font-size: 12px;
}
.v-line{
  margin-top: 20px;
    border-left: 2px solid #777575;
    height: 250px;
  }
  .card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }

  /*-------------- POP-UP ------------- */
  .card#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
  }
  #popup{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 900px;
    padding: 50px;
    background-color: #EAEAEA;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #popup.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
  }
  .BIGcard-top{
    display: flex;
    flex-direction: row;
  }
  .left-BIGcard{
    width: 60%;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
  }
  .right-BIGcard{
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
   
  }
  .right-BIGcard h1{
    margin-left: 50px;
  }
  .next-to-next{
    display: flex;
    flex-direction: row;
  }
  .v-line-BIGcard{
    margin-top: 20px;
    border-left: 2px solid #777575;
    height: 150px;
  }
  .BIGcard-presentaion {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 35px;
  }
  .commun h1{
    font-size: 26px;
    margin-bottom: 20px;
  }
  .BIGcard-presentaion p{
    font-size: 12px;
  }
  .reviews{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 35px;
  }
  .reviews p{
    padding: 10px ;
    font-size: 12px;
    border: 2px solid #777575;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: white;
  }
  .btn{
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.6s ease;
  }
  .btn a{
    font-family: 'Nunito', sans-serif;
    text-decoration: none ;
    color: white;
    padding: 10px 20px;
    text-align: center;
    background-color: black;
  }
  .btn:hover {
    transform: scale(1.15);
    
  }
 

  
  



