td{
    border: 2px black solid;
    font-weight: bold;
}
table{
border-collapse: collapse;
text-align: center;
margin: 0 auto;
}
.premiereligne {
    background-color: cornflowerblue;
}
.premierecolonne {
    width: 400px;
}
tr{
    height: 70px;
}
.troisiemecolonne{
    width: 120px;
}
.troisiemecolonne{
    background-color: cornflowerblue;
}
.troisiemecolonne:hover,
.troisiemecolonne a:hover{
    background-color: rgb(29, 104, 245);
}
.troisiemecolonne a{
    text-transform: uppercase;
    padding: 0 5px;
    text-decoration: none;
    color: white;
}
